In [1]:
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime
import argparse
import pickle

from sklearn.preprocessing import StandardScaler

from agent import DQNAgent
from environment import MultiStockEnv
from utils import maybe_make_dir, get_data
import yfinance as yf

In [2]:
data = get_data()
n_timesteps, n_stocks = data.shape
print(n_timesteps, n_stocks)
    
n_train = n_timesteps // 2
print(n_train)
train_data = data[:n_train]
test_data = data[n_train:]

1259 3
629

In [5]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.55.tar.gz (23 kB)
Requirement already satisfied: pandas>=0.24 in /opt/conda/lib/python3.7/site-packages (from yfinance) (1.2.1)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.7/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /opt/conda/lib/python3.7/site-packages (from yfinance) (2.25.1)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.2-cp37-cp37m-manylinux1_x86_64.whl (5.5 MB)
     |████████████████████████████████| 5.5 MB 18.3 MB/s eta 0:00:01
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2020.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.26.2)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=782833c4592e74bd310ef8c6e3c47c7e075efb3ff898c0734fefbfc79bd637b4
  Stored in directory: /home/jupyter/.cache/pip/wheels/aa/8a/36/59ed4f6fbcb6100967618eeb0696046bf9777a41ac2ff1f9b9
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8368 sha256=a9bfbd7d94d36156f5347311512ecfcf0159400b08353510f5c49c17e7952368
  Stored in directory: /home/jupyter/.cache/pip/wheels/ae/25/47/4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.6.2 multitasking-0.0.9 yfinance-0.1.55

In [6]:
!pip install gym

Requirement already satisfied: gym in /opt/conda/lib/python3.7/site-packages (0.18.0)
Requirement already satisfied: numpy>=1.10.4 in /opt/conda/lib/python3.7/site-packages (from gym) (1.19.5)
Requirement already satisfied: Pillow<=7.2.0 in /opt/conda/lib/python3.7/site-packages (from gym) (7.2.0)
Requirement already satisfied: cloudpickle<1.7.0,>=1.2.0 in /opt/conda/lib/python3.7/site-packages (from gym) (1.6.0)
Requirement already satisfied: pyglet<=1.5.0,>=1.4.0 in /opt/conda/lib/python3.7/site-packages (from gym) (1.5.0)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from gym) (1.6.0)
Requirement already satisfied: future in /opt/conda/lib/python3.7/site-packages (from pyglet<=1.5.0,>=1.4.0->gym) (0.18.2)

In [11]:
data_df = yf.download(["AAPL"], start="2020-02-01", end="2020-03-20")

[*********************100%***********************]  1 of 1 completed

In [9]:
data_df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-02-03  76.074997  78.372498  75.555000  77.165001  76.504311  173985600
2020-02-04  78.827499  79.910004  78.407501  79.712502  79.029999  136616400
2020-02-05  80.879997  81.190002  79.737503  80.362503  79.674438  118826800
2020-02-06  80.642502  81.305000  80.065002  81.302498  80.606384  105425600
2020-02-07  80.592499  80.849998  79.500000  80.007500  79.510727  117684000

In [12]:
data_df2 = yf.download(["MSI"], start="2020-02-01", end="2020-03-20")

[*********************100%***********************]  1 of 1 completed

In [13]:
data_df3 = yf.download(["SBUX"], start="2020-02-01", end="2020-03-20")

[*********************100%***********************]  1 of 1 completed

In [ ]:
data_df['Stock']='AAPL'
data_df2['']

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
matplotlib.use('Agg')
import datetime
import os
from yahoodownloader import YahooDownloader
import sys


gcp_hack = ['aapl', 'msi', 'sbux']

data_df = YahooDownloader(start_date = '2015-01-01',
                          end_date = '2021-12-01',
                          ticker_list = gcp_hack).fetch_data()
data_df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (4581, 8)

,date,open,high,low,close,volume,tic,day
0,2015-01-02,27.847500,27.860001,26.837500,24.898552,212818400,aapl,4
1,2015-01-05,27.072500,27.162500,26.352501,24.197117,257142000,aapl,0
2,2015-01-06,26.635000,26.857500,26.157499,24.199400,263188400,aapl,1
3,2015-01-07,26.799999,27.049999,26.674999,24.538729,160423600,aapl,2
4,2015-01-08,27.307501,28.037500,27.174999,25.481558,237458000,aapl,3

In [15]:
data_df['tic'].value_counts()

msi     1527
sbux    1527
aapl    1527
Name: tic, dtype: int64

In [20]:
apple=data_df[data_df['tic']=='aapl'][['open','close']]

In [21]:
msi=data_df[data_df['tic']=='msi'][['open','close']]

In [22]:
sbux=data_df[data_df['tic']=='sbux'][['open','close']]

In [29]:
comb_df=pd.concat([apple,msi,sbux],axis=1)

In [31]:
comb_df.tail()

      open  close  open  close        open       close
4576   NaN    NaN   NaN    NaN  102.410004  105.459999
4577   NaN    NaN   NaN    NaN  105.459999  104.580002
4578   NaN    NaN   NaN    NaN  104.160004  103.910004
4579   NaN    NaN   NaN    NaN  103.750000  103.449997
4580   NaN    NaN   NaN    NaN  103.400002  103.730003

In [6]:
data_df.pivot_table(index='date',columns=['tic'],values=['open','close'])

                 close                                open              \
tic               aapl         msi        sbux        aapl         msi
date
2015-01-02   24.898552   59.164474   36.551796   27.847500   67.540001
2015-01-05   24.197117   57.874615   35.851631   27.072500   66.239998
2015-01-06   24.199400   57.385361   35.559906   26.635000   65.000000
2015-01-07   24.538729   57.314182   36.435104   26.799999   65.000000
2015-01-08   25.481558   58.203747   37.023052   27.307501   64.910004
...                ...         ...         ...         ...         ...
2021-01-20  132.029999  172.919998  105.459999  128.660004  171.699997
2021-01-21  136.869995  172.289993  104.580002  133.800003  172.720001
2021-01-22  139.070007  173.710007  103.910004  136.279999  172.070007
2021-01-25  142.919998  173.720001  103.449997  143.070007  174.699997
2021-01-26  142.304092  171.770004  103.696899  143.600006  173.669998


tic               sbux
date
2015-01-02   41.064999
2015-01-05   40.070000
2015-01-06   40.169998
2015-01-07   39.875000
2015-01-08   41.165001
...                ...
2021-01-20  102.410004
2021-01-21  105.459999
2021-01-22  104.160004
2021-01-25  103.750000
2021-01-26  103.400002

[1527 rows x 6 columns]

In [7]:
comb_df2 = data_df.pivot_table(index='date',columns=['tic'],values=['open','close'])

In [8]:
comb_df2.columns = ['aapl-close','msi-close','sbux-close','aapl-open','msi-open','sbux-open']

In [9]:
comb_df2.head()

            aapl-close  msi-close  sbux-close  aapl-open   msi-open  sbux-open
date
2015-01-02   24.898552  59.164474   36.551796  27.847500  67.540001  41.064999
2015-01-05   24.197117  57.874615   35.851631  27.072500  66.239998  40.070000
2015-01-06   24.199400  57.385361   35.559906  26.635000  65.000000  40.169998
2015-01-07   24.538729  57.314182   36.435104  26.799999  65.000000  39.875000
2015-01-08   25.481558  58.203747   37.023052  27.307501  64.910004  41.165001

In [10]:
comb_df2.to_csv('aapl-msi-sbux2.csv', index=False)

In [11]:
from utils import get_data

In [12]:
df2 = get_data()

In [14]:
df2

array([[ 24.89855194,  59.16447449,  36.55179596,  27.84749985,
         67.54000092,  41.06499863],
       [ 24.19711685,  57.87461472,  35.85163116,  27.07250023,
         66.23999786,  40.06999969],
       [ 24.19939995,  57.38536072,  35.55990601,  26.63500023,
         65.        ,  40.16999817],
       ...,
       [139.07000732, 173.71000671, 103.91000366, 136.27999878,
        172.07000732, 104.16000366],
       [142.91999817, 173.72000122, 103.44999695, 143.07000732,
        174.69999695, 103.75      ],
       [142.30409241, 171.77000427, 103.69689941, 143.6000061 ,
        173.66999817, 103.40000153]])